html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, img,
small,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas,
figure, figcaption, footer, header, 
nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

abbr {
    font-variant: none;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.f-bangers {
    font-family: 'Bangers', cursive;
}

.visually-hidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

body {
    color: #333;
    font-size: 100%;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
}
.no-touch a:hover {
    background: black;
    color: white;
    text-decoration: underline;
}
em {
    font-weight: bold;
}

a:visited {

}

.gear__list {
    margin: 2rem 0 2rem 1rem;
}

.sidenote {
    font-style: italic;
    margin: .5rem;
    color: #6c6c6c;
}

.site-header {
    text-align: center;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Bangers', cursive;
    color: white;
    text-shadow: -2px 2px 2px rgba(0,0,0,.3);
    background: black !important
}


@media only screen and (min-width: 800px) {
    .site-header {
        height: 80vh;
    }
}
nav {
   
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 0rem;
    background: black;
    min-height: 80vh;
}

nav li {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column
}

nav a {
    color: white;
    font-size: 1.25rem;
    padding: 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

nav a:hover {
    text-decoration: line-through;
    background-color: black;
    color: white;
}


@media only screen and (min-width: 700px) {
    nav ul {
        min-height: 1px;
        justify-content: space-between;
        background: black;
        height: auto;
    }

    nav li {
        width: auto;
        margin: auto;
    }

    nav a {
        font-size: 1.15rem;
        padding: 1.15rem 0;
    }
}



.header__bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.program__header h1 {
    font-weight: bold;
    font-size: 2rem;
}

.program__header{

}

.header__title {
    margin-top: 2rem;
}

.header__video {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.header__video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0 0 0 / 40%) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,1) 100%);
    opacity: 1;
    transition: opacity 1.5s ease 1s;
}

.loaded .header__video::before {
    opacity: .5;
}

.header__video video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2rem 0 1rem 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,1) 100%);
}

.site-header h1 {
    font-size: 15vw;
    position: relative;
    z-index: 2;
}


.touch .site-header h1, 
.touch .site-header p, 
.touch .header__cta, 
.touch .language_btn {
    opacity: 0;
    transition: opacity 1.5s ease 1s;
}

.touch.loaded .site-header h1,
.touch.loaded .site-header p,
.touch.loaded .header__cta,
.touch.loaded .language_btn {
    opacity: 1;
}

.site-header  p {
    font-size: 6vw;
    position: relative;
    z-index: 2;
}

.header__logo {
    width: 20vw;
    height: auto;
    position: relative;
    z-index: 2;
}

.header__date {
    
}

.header__logos {
    list-style: none;
    position: absolute;
    z-index: 2;
    bottom: 3rem;
    left: 50%;
    width: 8rem;
    translate: -50% 0;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 700px) {
    .header__logos{
        top: 5rem;
        left: 1rem;
        translate: 0 0;
        width: 10rem;
    }
    .header__title {
        margin-top: 8rem;
    }
}

.header__logos img {
    max-width: 100%;
    height: 100%;
}

@media only screen and (min-width: 800px) {
    .header__logo {
        width: 10vw;
    }
}

.header__cta {
    background: black;
    color: white;
    padding: 1rem;
    line-height: 1;
    font-size: 5vw;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
@media only screen and (min-width: 800px) {
    .header__logo {
        font-size: 3vw;
    }
}
@media only screen and (min-width: 1200px) {
    .site-header h1 {
        font-size: 10rem;
    }
    .site-header p{
        font-size: 5rem;
    }
    .header__cta{
        font-size: 3rem;
    }
}

.header__cta:hover {
    text-decoration: underline;
}

.loaded .header__cta {
    
}

.day {
    border-bottom: 1px solid #ccc;
}

.day__title {
    font-weight: bold;
    font-size: 1.25rem;
    display: inline-block;
}

summary {
    cursor: pointer;
    padding: 1rem 0;
    background-color: white;
}

details[open] summary {
    position: sticky;
    top: 0;
}

.event {
    margin: 0 0 1rem 0;
}
.event h3 {
    font-weight: bold;
}

.people {
    
}

.people__role {
    font-weight: bold;
}


.figures {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: wrap;
    margin: 1rem 0;
}

figure {
    width: 50%;
    margin: 0 0 .5rem 0;
    padding: .5rem;
}


@media only screen and (min-width: 500px) {
    
}


figure h4 {
    background: black;
    color: white;
    padding: .2rem .5rem;
    display: inline-block;
    line-height: 1;
    font-size: 1.15rem
}

figure img {
    display: block;
    margin-bottom: -0.8rem;
}

.big-signup-btn {
    background: rgb(77, 172, 77);
    color: white;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 1rem 0;
    border: 2px solid transparent;
}
.big-signup-btn span {
    display: block;
}
.big-signup-btn__main-text {
    font-size: 2rem;
    font-weight: bold;
}
.big-signup-btn__sub-text {
    font-size: 1rem;
}

.no-touch .big-signup-btn:hover {
    background: white;
    color: rgb(77, 172, 77);
    border: 2px solid rgb(77, 172, 77);
    text-decoration: none;
}




p {
    
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}


main {
    width: 100%;
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
}

section {
    margin: 3rem 0
}
section header {
    margin: 1rem 0;
}

@media only screen and (min-width: 600px) {
    main {
        
    }
}

footer {
    background: black;
    color: white;
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asfalt {
    font-size: 12vw;
    display: block;
    background-color: black;
    letter-spacing: 0.5vw;
}

.asfalt span {
    background: transparent;
    display: inline-block;
    transform: translate(0,0);
    opacity: 1;
    animation-name: asfaltletters;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay: .7s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-play-state: running;
}

.asfalt span:nth-child(odd) {
    animation-delay: 0s; 
}

@keyframes asfaltletters {
    from {
        transform: translate(-5%, -5%);
        opacity: .95;
    }
    to {
        transform: translate(5%, 5%);
        opacity: 1;
    }
}

.language_btn {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: black;
    padding: .1rem .25rem;
    text-decoration: none;
    z-index: 2;
} 




.routes-page > header {
    padding: 2rem;
    text-align: center;
}

.routes-page header h1 {
    margin: 2rem;
    font-size: 3rem;

}

.routes-page h2 {
    font-size: 2rem;
}

.routes {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.route header {
    padding: 0 0 0 1rem;
}

.routes-page .logo {

}

.route {
    width: 100%;
   
}

@media only screen and (min-width: 960px) {
    .routes {
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
    }
    .route {
        flex: 0 0 50%;
        padding: .5rem;
    }
    .route header {
        padding: 0;
    }
    
}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


.downloads {
    padding: 1rem;
}

.downloads p {
    font-weight: bold;
}
.downloads ul {
    margin: 1rem 0 1rem 2rem;
}

